*{
    margin: 0;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.top-bar {
    width: 100%;
    height: 25vh;
    font-size: min(20vw, 100px);
    font-family: 'Petit Formal Script', cursive;
    justify-content: center;
}

.nav > div:nth-child(1){
    border-bottom: 2px solid white;
}


.top-bar > :nth-child(2){
    margin-top:30px;
    font-size: min(16vw,100px);
    width: 100%;
    text-align:center;
}

.nav{
    width: max(200px,30vw);
    font-size: min(8vw, 30px);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

.nav>div{
    cursor: pointer;
    margin-right:15px;
}

.mid-header{
    font-family: 'Petit Formal Script', cursive;
    font-size: min(10vw,50px);
    font-weight: bold;
}

#content{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    background-image:  url("images/pasta.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
}

.bar{
    background-color: black;
    opacity: 0.9;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
}

.mid-description{
    font-size: min(5vw,18px);
    text-align: center;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

.mid-page{
    margin-top: 100px;
    width:max(200px,45vw);
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.mid-page>div{
    padding-bottom: 10px;
}

footer{
    margin-top: auto;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    font-size: min(7vw,22px);
}

#footer{
    flex-direction: row;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }


.img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background: rgba(99, 99, 99, 0.7);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius : 5px;
    flex-direction:column;
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}


.img-div{
    position:relative;
    width: max(50px,35%);
}

.img-div:hover .img__description{
    visibility: visible;
    opacity: 1;
}


.menu-icon{
    max-width : 100%;
    max-height : 100%;
    cursor:pointer;
    overflow : pointer;
    margin-top : 10px;
    margin-bottom : 10px;
}

.menu-item-name{
    text-align:center;
    font-family: 'Petit Formal Script', cursive;
    font-size: min(5vw,20px);
    font-weight:bold;
}

.menu-item-price{
    font-size: min(6vw, 24px);
    text-align:center;
    color:white;
    font-weight:bold;
}


.mid-page-contact{
    flex-direction : row;
    flex-wrap : wrap;
    justify-content : space-around;
    width : min(50vw,500px);
    height : 300px;
    overflow :  auto;
}